@import "bootstrap";

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.navbar {
  background-color: #f1f6f9;
}

main {
  min-height: 100vh;
  overflow-y: hidden;
  background-image: url(mainbg-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: #f1f6f9;
  color: #00345b;
  h4 {
    display: inline-block;
  }
}

.mainbg {
  font-size: 1.5rem;
}

a {
  color: lightslategray;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
    color: #00345b;
    font-weight: 700;
  }
}

.active {
  color: rgb(32, 72, 158);
  font-weight: 700;
}

.logo {
  width: 60px;
  border-radius: 20px;
}
